.App {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.7em;
}

.App-intro {
  font-size: small;
  font-weight: bold;
}

.main {
	display: flex;
	flex-direction: row;
	height: 100vh;
  	text-align: center;
  	width: 100%;
}


#map-container {
  width: 100%;
  height: 100%;
  background-color: rgb(178, 213, 236);
  position: relative;
   overflow: hidden;
 }

.footer{
    margin: 10px;
    position: relative;
    font-size: 0.6em;
}