.App {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.7em;
}

.App-intro {
  font-size: small;
  font-weight: bold;
}

main {
	display: flex;
	flex-direction: row;
	height: 100vh;
  	text-align: center;
  	width: 100%;
}


#map-container {
  width: 100%;
  height: 100%;
  background-color: rgb(178, 213, 236);
  position: relative;
   overflow: hidden;
 }

section {
	width: 80%;
}

nav {
    	display: flex;
	flex-direction: row;
	background: #37474F;
	border-right: solid 1px #607D8B;
	color: #ECEFF1;
	font-size: 0.6em;
	height: 100%;
	min-width: 10vw;
	overflow-y: auto;
	padding-right: 10px;
    padding-left: 10px;
	position: relative;
	text-align: left;
	width: 25vw;
	z-index: 1;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

li {
	padding: 4px;
}

.search-box {
	margin-left: 10px;
}

.location-name:hover{
    cursor: pointer; 
    color:#00FF00;
}

.location-list
h2 {
	font-size: 1.5em;
	padding-left: 10px;
}

#info-window{
	margin: auto;
	padding-left: 10px;
}

#info-window
h1 {
	font-size: 1em;
    color: #009900;
}

#info-window
h2,
p {
	font-size: 0.8em;
    color:  #0000cc;
}

.footer{
    margin: 10px;
    position: relative;
    font-size: 0.6em;
    color:  #0000cc;
}
